html {
height: 100%;
margin: 0;
padding: 0;
background-color: #000000;
}

body {
min-height: 100%;
height: auto;
padding: 30px 0;
margin: 0;
box-sizing: border-box;
font-family: Arial, Tahoma, Helvetica, FreeSans;
font-size: 14px;
color: #cccccc;
background-color: #000000;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-image: url("./colorful.svg");
background-position: center top;
background-origin: border-box;
background-clip: border-box;
}

button {
-moz-appearance:none;
-webkit-appearance:none;
color:#ffffff;
font-weight:bold;
font-family: Arial, Tahoma, Helvetica, FreeSans;
background:#008acb;
border:none;
border-radius:0px;
outline:none;
padding:6px;
}

button:hover {background: #0095dd;}

button:hover:active {background: #006b9d;}

span.installbutton {
cursor:pointer;
color:#00d9b5;
text-decoration:underline;
font-weight:normal;
padding:0;
margin:0;
background:none;
border:none;
outline:none;
font-size: 14px;
}

span.commentbutton {
cursor:pointer;
color:#cccccc;
text-decoration:underline;
font-weight:normal;
background:none;
padding:0;
border:none;
outline:none;
font-size: 14px;
}

span.mail {
cursor:pointer;
display: inline-block;
padding: 8px 15px;
margin-right: 0;
color: #00d9b5;
font: normal bold 15px Arial, Tahoma, Helvetica, FreeSans;
border-radius: 0;
background: transparent none no-repeat scroll top left;
border-left: 1px solid #00b395;
text-decoration:none;
outline: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

li.more {
direction: rtl;
}

li.more > * {
direction: ltr;
}

li.more > a {
cursor: default !important;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

.link span.installbutton:hover {
color: #00ffd5;
background:none;
}

.spoilers span.commentbutton:hover {
color: #ffffff;
background:none;
}

span.mail:hover {
border-color: #00b395;
position: relative;
z-index: 1;
background: #00b395 none repeat scroll bottom;
color: #ffffff;
}

li:hover + li span.mail, li.select + li span.mail {
border-color: #de8500;
}

a:link, a:visited {
color: #00d9b5;
}

a:active, a:hover {
color: #00ffd5;
}

.link span.installbutton:hover:active, a:active, span.mail:hover:active {
opacity: 0.8;
}

code {
color: #3399ff;
}

pre, code {
font-family: Arial, Tahoma, Helvetica, FreeSans !important;
}

img:-moz-broken,
img:-moz-user-disabled,
img:-moz-loading {
visibility: hidden !important;
}

.no-restart {
vertical-align:middle;
padding:1px 4px;
font-size:12px;
color:#ffffff;
background:#de8500;
border-radius:0px;
}

.warning {
border-left: 5px solid #ff876f;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
color: #ff876f;
text-align:left;
}

.playtext {
color: #00d9b5;
text-decoration-line: overline;
text-decoration-style: solid;
text-decoration-color: #00d9b5;
}

#templatemo {
width: 1100px;
margin: 0 auto;
background: transparent url("./container.svg") repeat scroll left top;
}

#templatemo_title_section {
padding: 30px 10px;
font-size: 40px;
color: #ffffff;
text-align: left;
display: none;
}

#templatemo_header_section #templatemo_search_section form {
text-align: left;
}

#templatemo_menu_panel {
width:100%;
height: 62px;
margin: 0 auto;
color: #ffffff;
}

#templatemo_menu_panel #templatemo_menu_section {
width: 100%;
height: 62px;
margin:0;
padding: 0;
}

#templatemo_menu_section ul {
float: left;
margin: 0;
padding: 15px;
list-style: none;
}

#templatemo_menu_section ul li {
float: left;
}

#templatemo_menu_section ul li a {
display: inline-block;
padding: 8px 15px;
margin-right: 0;
color: #ff9900;
font: normal bold 15px Arial, Tahoma, Helvetica, FreeSans;
border-radius: 0;
background: transparent none no-repeat scroll top left;
border-left: 1px solid #de8500;
text-decoration:none;
outline: none;
}

#templatemo_menu_section li.more .menup {
margin-right: -1px;
}

strong {
color: #ff9900;
}

#templatemo_menu_section li a:hover, #templatemo_menu_section li .current {
position: relative;
z-index: 1;
background: #de8500 none repeat scroll bottom;
color: #ffffff;
}

#templatemo_content_container {
clear: both;
overflow: hidden;
width:100%;
margin: 0 auto;
}

#templatemo_content_container #templatemo_content {
overflow: hidden;
height: auto;
width: auto;
padding: 15px;
margin:0 auto;
}

#templatemo_menu_section .menup {
position: absolute;
margin-top: -1px;
padding: 0;
background: transparent url("./container.svg") repeat scroll left top;
display: none;
}

#templatemo_menu_section .menup li {
float: none;
position: relative;
}

#templatemo_menu_section .menup li a {
display: block;
position: relative;
border-left: none;
border-top: 1px solid #de8500;
outline: none;
}

#templatemo_menu_section ul li:hover .menup {
display: block;
}

#templatemo_menu_section ul li:first-child a {
border-left: none;
}

.containerimage {
position: relative;
font-size: 0;
}

.containerloading {
background: black;
}

.containerloading img[onclick] {
opacity: 0.4;
}
