@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

scrollbar, scrollcorner, html|select {
    --v-scrollbar-color: rgb(255, 255, 255);
    --v-scrollbar-background-color: rgb(0, 116, 232);
    --v-scrollbar-background-color-hover: color-mix(in srgb, rgb(255, 255, 255) 15%, var(--v-scrollbar-background-color));
    --v-scrollbar-background-color-active: color-mix(in srgb, rgb(0, 0, 0) 10%, var(--v-scrollbar-background-color));
    --v-scrollbar-border-radius: 0px;
}
tooltip {
    --v-tooltip-color: InfoText;
    --v-tooltip-background-color: InfoBackground;
    --v-tooltip-border-color: color-mix(in srgb, currentColor 25%, transparent);
    @media (prefers-color-scheme: light) {
        --v-tooltip-color: rgb(12, 12, 22);
        --v-tooltip-background-color: rgb(245, 245, 255);
    }
    @media (prefers-color-scheme: dark) {
        --v-tooltip-color: rgb(177, 177, 187);
        --v-tooltip-background-color: rgb(27, 27, 37);
    }
}
/* ************************************************ */

scrollcorner {
    appearance: none !important;
    background: none !important;
    border: none !important;
}
scrollbar > slider {
    appearance: none !important;
    background: none !important;
    border: none !important;
}
scrollbar > slider > thumb,
scrollbar > scrollbarbutton,
html|*:not(html|select) > scrollbar > slider > thumb,
html|select > html|button {
    appearance: none !important;
    border: none !important;
    border-radius: var(--v-scrollbar-border-radius) !important;
    background-color: var(--v-scrollbar-background-color) !important;
}
scrollbar > slider > thumb:hover,
scrollbar > scrollbarbutton:not([disabled]):hover {
    background-color: var(--v-scrollbar-background-color-hover) !important;
}
scrollbar > slider > thumb:active,
scrollbar > scrollbarbutton:not([disabled]):active,
html|select > html|button:active {
    background-color: var(--v-scrollbar-background-color-active) !important;
}
/* tooltip */
tooltip {
    appearance: none !important;
}
tooltip[hasbeenopened=true] {
    color: var(--v-tooltip-color) !important;
    background: var(--v-tooltip-background-color) !important;
    border: 1px solid var(--v-tooltip-border-color) !important;
    padding: 2px !important;
}
tooltip[hasbeenopened=true] :is(description,label) {
    color: inherit !important;
}
/* resizer */
resizer {
    appearance: none !important;
}
