/**
@UCF @param {"prop":"CssContent","type":"AUTHOR_SHEET"} @UCF
*/
@namespace url("http://www.w3.org/1999/xhtml");
@-moz-document regexp("^(?:https?|ftp|file|view-source):.*") {
:any-link:focus {
    outline: 1px dotted currentColor !important;
}
input, textarea, select, button, ::file-selector-button {
    border-width: 1px;
}
::selection {
    background-color: #0074e8;
    color: #ffffff;
}
}
